<ul class="sidebar">
	<li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
		<a mat-menu-item routerLink="/idostar/city">ADD CITY</a>
	</li>
	<li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
		<a mat-menu-item routerLink="/idostar/evtype">ADD EVENT TYPE</a>
	</li>
	<li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
		<a mat-menu-item routerLink="/idostar/addvenue">ADD VENUE</a>
	</li>
	<li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
		<a mat-menu-item routerLink="/idostar/editvenue">EDIT VENUES</a>
	</li>
	<li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
		<a mat-menu-item routerLink="/idostar/contactedus">CONTACT US INBOX</a>
	</li>
	<li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
		<a mat-menu-item routerLink="/idostar/getmissing">MISSING ITEMS INBOX</a>
	</li>
	<li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
		<a mat-menu-item routerLink="/idostar/feedbacks">USERS FEEDBACKS</a>
	</li>
	<li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
		<a mat-menu-item routerLink="/idostar/eventbooking">EVENT BOOKING</a>
	</li>
</ul>