<div class="page_wrap" *ngIf="mobView; else desktop">
	<mat-accordion>
		<mat-expansion-panel [expanded]="1">
		    <mat-expansion-panel-header>
		      	<mat-panel-title>
		        	What is iDoEvent?
		      	</mat-panel-title>
		    </mat-expansion-panel-header>
		    <p class="faq_detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
		</mat-expansion-panel>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
	      		<mat-panel-title>
	        		Where can I get some?
	      		</mat-panel-title>
	    	</mat-expansion-panel-header>
	    	<p class="faq_detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
  		</mat-expansion-panel>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
	      		<mat-panel-title>
	        		Where does it come from?
	      		</mat-panel-title>
	    	</mat-expansion-panel-header>
	    	<p class="faq_detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
  		</mat-expansion-panel>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
	      		<mat-panel-title>
	        		Why do we use it?
	      		</mat-panel-title>
	    	</mat-expansion-panel-header>
	    	<p class="faq_detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
  		</mat-expansion-panel>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
	      		<mat-panel-title>
	        		Where can I get some?
	      		</mat-panel-title>
	    	</mat-expansion-panel-header>
	    	<p class="faq_detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
  		</mat-expansion-panel>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
	      		<mat-panel-title>
	        		Where does it come from?
	      		</mat-panel-title>
	    	</mat-expansion-panel-header>
	    	<p class="faq_detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
  		</mat-expansion-panel>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
	      		<mat-panel-title>
	        		Why do we use it?
	      		</mat-panel-title>
	    	</mat-expansion-panel-header>
	    	<p class="faq_detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
  		</mat-expansion-panel>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
	      		<mat-panel-title>
	        		Where can I get some?
	      		</mat-panel-title>
	    	</mat-expansion-panel-header>
	    	<p class="faq_detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
  		</mat-expansion-panel>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
	      		<mat-panel-title>
	        		Where does it come from?
	      		</mat-panel-title>
	    	</mat-expansion-panel-header>
	    	<p class="faq_detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
  		</mat-expansion-panel>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
	      		<mat-panel-title>
	        		Why do we use it?
	      		</mat-panel-title>
	    	</mat-expansion-panel-header>
	    	<p class="faq_detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
  		</mat-expansion-panel>
	</mat-accordion>
</div>
<ng-template #desktop>
	<div class="desktop_wrap">
		<mat-accordion>
			<mat-expansion-panel [expanded]="1">
			    <mat-expansion-panel-header>
			      	<mat-panel-title>
			        	What is iDoEvent?
			      	</mat-panel-title>
			    </mat-expansion-panel-header>
			    <p class="faq_detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
			</mat-expansion-panel>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
		      		<mat-panel-title>
		        		Where can I get some?
		      		</mat-panel-title>
		    	</mat-expansion-panel-header>
		    	<p class="faq_detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
	  		</mat-expansion-panel>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
		      		<mat-panel-title>
		        		Where does it come from?
		      		</mat-panel-title>
		    	</mat-expansion-panel-header>
		    	<p class="faq_detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
	  		</mat-expansion-panel>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
		      		<mat-panel-title>
		        		Why do we use it?
		      		</mat-panel-title>
		    	</mat-expansion-panel-header>
		    	<p class="faq_detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
	  		</mat-expansion-panel>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
		      		<mat-panel-title>
		        		Where can I get some?
		      		</mat-panel-title>
		    	</mat-expansion-panel-header>
		    	<p class="faq_detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
	  		</mat-expansion-panel>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
		      		<mat-panel-title>
		        		Where does it come from?
		      		</mat-panel-title>
		    	</mat-expansion-panel-header>
		    	<p class="faq_detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
	  		</mat-expansion-panel>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
		      		<mat-panel-title>
		        		Why do we use it?
		      		</mat-panel-title>
		    	</mat-expansion-panel-header>
		    	<p class="faq_detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
	  		</mat-expansion-panel>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
		      		<mat-panel-title>
		        		Where can I get some?
		      		</mat-panel-title>
		    	</mat-expansion-panel-header>
		    	<p class="faq_detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
	  		</mat-expansion-panel>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
		      		<mat-panel-title>
		        		Where does it come from?
		      		</mat-panel-title>
		    	</mat-expansion-panel-header>
		    	<p class="faq_detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
	  		</mat-expansion-panel>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
		      		<mat-panel-title>
		        		Why do we use it?
		      		</mat-panel-title>
		    	</mat-expansion-panel-header>
		    	<p class="faq_detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
	  		</mat-expansion-panel>
		</mat-accordion>
	</div>
</ng-template>