.admin_form {
    margin-bottom: 20px;
}
.admin_form .mat-input-element {
    height: 22px;
    line-height: 22px;
}
.mat-select {
    line-height: 22px;
}
.mat-raised-button.mat-warn {
    background-color: #f05758;
    font-weight: 400;
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    text-transform: uppercase;
    min-width: 100px;
}
.mat-warn.mat-raised-button[disabled] {
    background-color: rgba(0,0,0,0.26);
}

.admin_form textarea.mat-input-element {
    height: 42px;
    resize: none;
}
.ibform {
    display: inline-block;
    margin: 0 16px 0 0;
    vertical-align: top;
}
.ibform mat-form-field {
    width: 300px;
}
.error {
    color: #f44336;
    font-size: 14px;
}
.success {
    color: green;
    font-size: 14px;
}
.main_quote {
    color: #212121;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}
.file_hidden {
    position: fixed;
    left: -200px;
    bottom: -200px;
    opacity: 0;
}
.browse_btn {
    background-color: #eee;
    border: solid 1px #2699fb;
    cursor: pointer;
    display: block;
    height: 48px;
    line-height: 48px;
    margin: 0 0 4px;
    padding: 0 0 0 16px;
    text-align: left;
    width: 380px;
}
.browse_btn:hover, .browse_btn:hover, .browse_btn:focus {
    outline: none;
}
.browse_btn span {
    float: right;
    height: 46px;
    width: 100px;
    text-align: center;
    background-color: #2699fb;
    color: #fff;
    margin: 0;
    line-height: 48px;
    border-left: solid 1px #2699fb;
}
.note_quote {
    margin-bottom: 18px;
    font-size: 12px;
    color: #666;
}
.error_img {
    color: #f44336;
    font-size: 75%;
}